<launch>  
  <!-- HECTOR MAPPING />-->
  <include file="$(find mir_navigation)/launch/hector_mapping.launch" >
  </include>

  <!-- MOVE BASE -->
  <include file="$(find mir_navigation)/launch/move_base.xml" >
    <arg name="with_virtual_walls"    value="false"/>
  </include>

  <!-- RVIZ -->
  <node pkg="rviz" type="rviz" name="rviz2"
    args="-d $(find mir_navigation)/rviz/navigation.rviz"/>
    
  <!-- EXPLORE LITE-->
  <node pkg="explore_lite" type="explore" respawn="true" name="explore" output="screen">
    <!-- <arg name="robot_base_frame" value="base_footprint" -->
  </node>


</launch>

