<launch>
  <!-- map parameter -->
  <arg name="map_file" default="$(find mir_project)/maps/map.yaml"/>

  <!-- AMCL (localization)-->
  <include file="$(find mir_navigation)/launch/amcl.launch"/>

  <!-- MAP SERVER -->
  <!-- <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen"/> -->

   <!-- MOVE BASE (navigation) -->
  <!-- <include file="$(find mir_navigation)/launch/move_base.xml"/>  -->

  <!-- navigation: combines map_sever & move_base -->
  <include file="$(find mir_navigation)/launch/start_planner.launch">
    <arg name="map_file"       value="$(arg map_file)"/>
  </include>

  <!-- RVIZ -->
  <node pkg="rviz" type="rviz" name="rviz2"
    args="-d $(find mir_navigation)/rviz/navigation.rviz"/>

</launch>

